## 변수와 이름 짓기 (int, float, 문자열, 논리형)

1. `myAge`라는 이름의 변수를 만들어 볼까요? 당신의 나이를 정수로 저장해보세요. 그리고 `myAge` 변수의 값을 출력해보세요.

2. `pi`라는 이름의 변수를 만들어 보아요. 원주율 3.14를 저장해보세요. 그리고 `pi` 변수의 값을 출력해보세요.

3. `myName`이라는 이름의 변수를 만들어 보아요. 당신의 이름을 문자열로 저장해보세요. 그리고 `myName` 변수의 값을 출력해보세요.

4. `isStudent`이라는 이름의 변수를 만들고, 당신이 학생인지 여부를 논리형으로 저장해보아요. 참고) 논리형은 False, True로 작성할 수 있습니다.

5. `myHeight`이라는 이름의 변수를 만들어 보아요. 당신의 키를 실수로 저장해보세요. 그리고 `myHeight` 변수의 값을 출력해보세요.

## 대입 연산자 조합

6. `x`라는 이름의 변수를 만들어 보아요. 초기값으로 10을 대입해보세요. 그리고 `x`에 5를 더해보고 결과를 출력해보세요.

7. `y`라는 이름의 변수를 만들어 보아요. 초기값으로 20을 대입해보세요. 그리고 `y`를 3으로 나눠보고 결과를 출력해보세요.

8. `z`라는 이름의 변수를 만들어 보아요. 초기값으로 30을 대입해보세요. 그리고 `z`에 4를 곱해보고 결과를 출력해보세요.

9. `a`라는 이름의 변수를 만들어 보아요. 초기값으로 40을 대입해보세요. 그리고 `a`에서 15를 빼보고 결과를 출력해보세요.

10. `b`라는 이름의 변수를 만들어 보아요. 초기값으로 2를 대입해보세요. 그리고 `b`의 값을 3으로 제곱해보고 결과를 출력해보세요.

## 산술 연산자 (**, //, %)

11. 10의 제곱을 계산해보아요. 그리고 결과를 출력해보세요.

12. 35를 6으로 나눈 몫을 계산해보아요. 그리고 결과를 출력해보세요.

13. 35를 6으로 나눈 나머지를 계산해보아요. 그리고 결과를 출력해보세요.

14. 8의 3제곱을 계산해보아요. 그리고 결과를 출력해보세요.

15. 49를 7으로 나눈 몫을 계산해보아요. 그리고 결과를 출력해보세요.

## 변수와 이름 짓기 (int, float, 문자열, 논리형)

1번 문제 해답.

```python
myAge = 15
print(myAge)
```

2번문제 해답.

```python
pi = 3.14
print(pi)
```

## 대입 연산자 조합

6번 문제 해답.

```python
x = 10
x += 5
print(x)
```

7번 문제 해답.

```python
y = 20
y /= 3
print(y)
```

## 산술 연산자 (**, //, %)

11번 문제 해답.

```python
result = 10 ** 2
print(result)
```

12번 문제 해답.

```python
result = 35 // 6
print(result)
```