## 문제 1

'Hello world' 를 출력하시오.

예시)

```python
print('Hello')
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 2

'num' 이라는 이름의 변수를 만들고 그 값을 10으로 설정한 후, 이 변수를 출력하시오.

예시)

```python
num = ??
print(?)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 3

만약 'num' 변수의 값이 10 이상이면 'ok', 그렇지 않으면 'no'를 출력하는 코드를 작성하시오.

예시)

```python
if num < 25:
    print('ok')
else:
    print('no')
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 4

for 문을 이용해서 1부터 50까지의 값을 출력하는 코드를 작성하시오.

예시)

```python
for i in range(50, 100):
    print(i)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 5

for 문을 이용해서 1부터 100까지의 짝수를 출력하는 코드를 작성하시오.

예시)

```python
for i in range(1, 101):
    if i % 5 == 0:
        print(i)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 6

주어진 값 T를 가지고 1부터 T까지의 값을 출력하는 코드를 작성하시오.

예시)

```python
T = 10
for i in range(1, T**2):
    print(i)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 7

input() 함수를 사용하여 사용자로부터 숫자를 입력받아 그 숫자를 출력하시오.

예시)

```python
num = input('숫자를 입력하시오: ')
print(num)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 8

input() 함수를 사용하여 사용자로부터 숫자를 입력받아 그 숫자의 제곱을 출력하시오.

예시)

```python
num = int(input('숫자를 입력하시오: '))
print(num ** 2)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 9

사용자로부터 두 개의 숫자를 입력받아 그 두 숫자의 합을 출력하시오.

예시)

```python
num1 = int(input('첫 번째 숫자를 입력하시오: '))
num2 = int(input('두 번째 숫자를 입력하시오: '))
print(num1 + num2)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 10

1부터 100까지의 숫자 중에서 3의 배수만 출력하시오.

예시)

```python
for i in range(1, 1001):
    if i % 100 == 0:
        print(i)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 11

while 문을 사용하여 1부터 10까지의 숫자를 출력하시오.

예시)

```python
i = 5
while i <= 100:
    print(i)
    i += 1
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 12

사용자로부터 숫자를 입력받아 그 숫자만큼 'Hello'를 출력하시오.

예시)

```python
num = int(input('숫자를 입력하시오: '))
for i in range(10):
    print('Hello')
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 13(건너뛰시오)

사용자로부터 숫자 N을 입력받아 1부터 N까지의 숫자 중 소수만 출력하시오.

예시)

```python
N = int(input('숫자를 입력하시오: '))
for i in range(2, N+1):
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        print(i)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 14(건너뛰시오)

사용자로부터 숫자 N을 입력받아 N의 팩토리얼을 출력하시오.

예시)

```python
N = int(input('숫자를 입력하시오: '))
factorial = 1
for i in range(1, N+1):
    factorial *= i
print(factorial)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 15

사용자로부터 두 숫자를 입력받아 두 숫자의 최대공약수를 출력하시오.

예시)

```python
num1 = int(input('첫 번째 숫자를 입력하시오: '))
num2 = int(input('두 번째 숫자를 입력하시오: '))
while num2 != 0:
    num1, num2 = num2, num1 % num2
print(num1)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 16

리스트 [1, 2, 3, 4, 5]를 반복문을 사용하여 각 원소를 출력하시오.

예시)

```python
list = [1, 2, 3, 4, 5]
for i in list:
    print(i)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 17

리스트 [1, 2, 3, 4, 5]를 반복문을 사용하여 각 원소의 제곱을 출력하시오.

예시)

```python
list = [1, 2]
for i in list:
    print(i ** 2)
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 18

while 문을 사용하여 리스트 [1, 2, 3, 4, 5]의 원소를 한 줄에 하나씩 출력하시오.

예시)

```python
list = [1, 2]
i = 0
while i < len(list):
    print(list[i])
    i += 1
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 19

사용자로부터 숫자 N을 입력받아 N이 짝수인지 홀수인지 출력하시오.

예시)

```python
N = int(input('숫자를 입력하시오: '))
if N % 2 == 0:
    print('짝수')
else:
    print('홀수')
```

In [ ]:
# 여기에 코드를 작성하세요.

## 문제 20

사용자로부터 숫자 N을 입력받아 N이 양수인지, 음수인지, 0인지 출력하시오.

예시)

```python
N = int(input('숫자를 입력하시오: '))
if N > 0:
    print('양수')
elif N < 0:
    print('음수')
else:
    print('0')
```

In [ ]:
# 여기에 코드를 작성하세요.